<html>
    <body>
        <h1>Calculate</h1>
        <form action="{{ url_for('form')}}" method="post">
            <label for="num1">Number 1:</label>
            <input type="text" id="num1" name="num1" required>
            <br>
            <label for="num2">Number 2:</label>
            <input type="text" id="num2" name="num2" required>
            <br>
            <label for="num3">Number 3:</label>
            <input type="text" id="num3" name="num3" required>
            <br>
            <input type="submit" value="Calculate">
        </form>
        <h2>
            The Average is: {{ average }}<br>
        </h2>
    </body>
</html>